@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/js/category.js" defer></script>
}


<div class="container categories suppliers">
    <select id="select-category">
        <option value="0" selected>Nothing selected</option>
        
    </select>
    <select id="select-supplier">
        <option value="0" selected>Nothing selected</option>

    </select>
</div>
<div class="container" id="product-cards">
    
    


</div>
